@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', -apple-system, sans-serif;
  line-height: 1.6rem;
  font-size: 1.0rem;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

strong {
  font-weight: 500;
}